.top-name {
  height: 50px;
  margin-right: 5%;
  /* position: absolute; */
  text-align-last: right;
  font-weight: 800;
  color: #415bad;
  font-family: "Open Sans", arial;
  font-size: 40px;
}
.graphs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.graphs div {
  width: 50%;
  height: 450px;
}
.graphs .canvas {
  /* width: 600px; */
  height: 400px;
}

#totals {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: rgb(238, 236, 236);
  justify-content: space-around;
}

#totals span {
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: "DM Sans", arial;
}

@media (max-width: 600px) {
  .graphs {
    flex-direction: column;
  }
  .graphs div {
    height: 400px;
    width: 100%;
  }
  .graphs .canvas {
    height: 400px;
  }
  #totals {
    height: 80px;
  }
  #totals span {
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: "DM Sans", arial;
  }
  .top-name {
    height: 30px;

    font-size: 30px;
  }
}
