* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  font-family: Raleway, arial;
}
main {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
}
#header {
  color: #1f107f;
  padding-top: 50px;
  text-align: center;
  font-family: "Raleway", Arial;
  font-size: 60px;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}
#header #capstone {
  color: #fcaa23;
  /* color: ; */
}
#img {
  background: url("../images/urand1.jpg");
  background-repeat: no-repeat;

  background-size: 90% 90%;
}
#login-card {
  padding-top: 20%;
  padding-left: 25%;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  width: 57%;
  margin-bottom: 5%;
  padding-left: 100px;
  font-size: 20px;
  height: 50px;
  border: none;
  background: #d7e0fd;
  border-radius: 150px;
}
/* input::placeholder {
  padding-left: 100px;
} */
button {
  width: 70%;
  margin-bottom: 5%;

  height: 50px;
  border: none;
  background: #4052f2;
  border-radius: 150px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#login-card button:hover {
  transition: ease-in 200ms;
  background: #fcaa23;
  cursor: pointer;
}
#login-card a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
}
