.newentry {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.newentry select,
input {
  width: 300px;
  height: 50px;
  font-family: "Quicksand", arial;
  font-size: 20px;

  color: #0b0722;
}
button {
  margin-left: 77%;
  width: 300px;
  height: 50px;
  border: none;
  background: #4052f2;
  border-radius: 150px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

button:hover {
  transition: ease-in 200ms;
  background: #fcaa23;
  cursor: pointer;
}

@media (max-width: 600px) {
  .newentry {
    /* margin-top: 10%; */
    height: 40vh;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 15%;
  }
  .newentry select,
  input {
    width: 80%;
    border-radius: 150px;
    text-align: center;
    outline: none;
  }
  .newentry select {
    text-align: center;
    text-align-last: center;

    /* webkit*/
  }
  .newentry option {
    text-align: left;
    /* reset to left*/
  }
  button {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
  }
}
