table {
  margin: 8vh 15vh 0 15vh;
  /* margin-left: 10vh; */
  border-collapse: collapse;
  /* border-spacing: 0; */
  /* text-align: center; */
  width: 80%;
  font-family: "Open Sans", arial;
}
thead {
  font-size: 25px;
  font-weight: bold;
  height: 30px;
  text-align: left;
  /* margin-bottom: 50px */
  color: white;
  background-color: #0b0722;
}
tbody {
  font-size: 20px;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

th,
td {
  padding: 12px 12px;
}
.table_date {
  /* position: relative; */
  width: 15%;
}
.table_summ {
  width: 60%;
}
.dropdown {
  margin-top: 50px;
  margin-left: 75%;
  position: relative;
  font-family: "Quicksand", arial;
}
#rec-type {
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
  height: auto;
  text-align: center;
  text-align-last: center;
  font-family: "Quicksand";
  font-size: 1.5rem;
  font-weight: bold;
  color: #0b0722;
}
