{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'capstone/css/signup.css' %}" rel="stylesheet">
    
    <title>Signup</title>
</head>
<body>
    
    <div id="signupcard">
        
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
        <input type="text" autocomplete="off" required placeholder="Choose a username" name="username" id="username">
        <input type="Password" autocomplete="off" required placeholder="Select a Password"name="password" id="password">
        <input type="Password" autocomplete="off" required placeholder="Confirm Password"name="cnf-pass" id="cnf-pass">
        <button id='signup'> Sign Up </button>
        
        </form>
        
    </div>
   
    <script>
    //    console.log('hello');
        document.getElementById('signup').addEventListener('click',()=>{
            const message = `{{message}}`
            if(message)
                alert(message)
            
        })
    </script>
</div>
</body>
</html>