<!-- this is the first page after login -->
{% extends "capstone/layout.html" %} {% load static%} {% block links %}
<link href="{% static 'capstone/css/index.css' %}" rel="stylesheet" />
<link href="{% static 'capstone/css/transactions.css' %}" rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

{% endblock %}{% block main %}
<span class="top-name">Hi, {{user.username}}</span>

<div class="dropdown">
  <select name="rec-type" id="rec-type">
    <a href="{% url 'transactions' rec_type='expense' %}">
      <option value="Expense">Expense</option>
    </a>
    <a href="{% url 'transactions' rec_type='expense' %}">
      <option value="Income">Income</option>
    </a>
  </select>
</div>
<table>
  <thead>
    <th>Date</th>
    <th>Summary</th>
    <th>Type</th>
    <th>Amt</th>
  </thead>
  <tbody>
    {% for t in trans %}
    <tr>
      <td class="table_date">{{t.date}}</td>
      <td class="table_summ">{{t.summary}}</td>
      <td class="table_type">{{t.exp_type}}</td>
      <td class="table_amt">{{t.amt}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
