<!-- this is the first page after login -->
{% extends "capstone/layout.html" %} {% load static%} {% block links %}
<link href="{% static 'capstone/css/index.css' %}" rel="stylesheet" />
<link href="{% static 'capstone/css/transactions.css' %}" rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

{% endblock %}{% block main %}
<span class="top-name">Hi, {{user.username}}</span>

<div class="dropdown">
  <span id="record">Expense</span>
  <select name="rec-type" id="rec-type">
    <option>Select records</option>
    <!-- <a href="{% url 'transactions' rec_type='expense' %}"> -->
    <option value="expense">Expense</option>
    <!-- </a> -->
    <!-- <a href="{% url 'transactions' rec_type='expense' %}"> -->
    <option value="income">Income</option>
    <!-- </a> -->
  </select>
</div>
<table>
  <thead>
    <th>Date</th>
    <th>Summary</th>
    <th>Type</th>
    <th>Amt</th>
  </thead>
  <tbody>
    {% for t in trans %}
    <tr>
      <td class="table_date">{{t.date}}</td>
      <td class="table_summ">{{t.summary}}</td>
      <td class="table_type">{{t.t_type}}</td>
      <td class="table_amt">{{t.amt}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  var drop_down = document.getElementById("rec-type");
  // console.log(drop_down.value);
  window.onload = () => {
    var record = document.getElementById("record");
    if (window.location.pathname == "/transactions/expense")
      record.innerHTML = "Expense";
    else if (window.location.pathname == "/transactions/income")
      record.innerHTML = "Income";
  };
  var url;

  drop_down.addEventListener("change", () => {
    const rec_type = drop_down.value;
    if (rec_type == "expense")
      url = `{% url 'transactions' rec_type='expense' %}`;
    else if (rec_type == "income")
      url = `{% url 'transactions' rec_type='income' %}`;

    document.location.href = url;
    console.log(url);
  });
</script>
{% endblock %}
