.results {
    width: 100%;

    height: auto;
    background: #FFFFFF;
    box-shadow: 15px 20px 5px rgba(0, 0, 0, 0.25);
}

h2 {
    margin-top: 10px;
    font-family: Calibri;
    color: black;
    text-align: center;
}

.resultitem{
    width: 90%;
    
    display:block;
    text-decoration: none;
    color:black;
    margin-left:20px;
    padding-left: 15px;
    padding-bottom: 20px;

}
.result{
    text-decoration: none;
}
.result :hover{
    
    background: rgba(237,137,25,0.1);   
}