{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}

{% if available == True %}
<div class="alert alert-danger" role="alert">
    This title already exists. Try a different title.
</div>
{%endif%}
<div class="newpage" style="padding-top:100px;">
    <form method="POST">
        {%csrf_token%}
        <input type="text" class="form-control" name="title" placeholder="Title" style="width: 80%;" autocomplete="off"
            required>
        <textarea name="content" class="form-control" autocomplete="off" placeholder="Enter content in markdown"
            rows="25" style="width: 80%;
                    margin-top: 50px;"></textarea>

        <button type="submit" class="btn btn-outline-primary" style="margin-top: 25px;">Submit</button>
    </form>
</div>


{% endblock %}